.head{
  height: 250px;
  background-color: #191919;
  color: white;
  text-align: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.span{
  float: right
}

#footer{
  height: 100px;
  padding: 50px;
  text-align: center
}